* {
    box-sizing: border-box;
}

body {
    font-family: "Lucida Grande", sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;

}

#form-container {
    display: flex;
    align-items: space-between;

}

#form-body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#form-body input {
    min-width: 400px;
    border: none;
    line-height: 1.8em;
    margin: 8px;
}

#form-body input:focus {
    outline: none;
}

#form-body>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#title {
    font-size: 35px;
    font-weight: bold;
    width: 50px;
}

#pseudonym {
    font-size: 15px;
    width: 50px;

}

#message {
    font-size: 20px;
    width: 440px;
    min-width: 400pxx;
}


#form-button {
    /* margin-top: 30px; */
}

#form-button input[type="submit"] {
    cursor: pointer;
    background: #fff;
    border: 2px solid #333;
    text-transform: uppercase;
    padding: 4px 12px;
    border-radius: 16px;
    margin: 0 0 15px;
    font-size: 17px;
}

.input-container {}

#message-container {
    width: 600px;
    /* width: 100%; */
}

#url {
    display: none;
}

#url-icons {
    cursor: pointer;
}

#file-icon input {
    display: none;
}

.fa-solid {
    font-size: 15px;
    color: white;

    /* color: rgba(0, 0, 0, .44); */
}

.fa-camera {
    font-size: 16px;
    cursor: pointer;
}

#message-icons {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;

}

.message-icons-appear {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: space-evenly;
}

#form-body .input-container:nth-child(1) {
    height: 40px;
    margin-bottom: 2px;
    width: 30em;
}

#form-body .input-container:nth-child(1)>.divider {
    display: none;
}

#form-body>.input-container:nth-child(2) {
    height: 40px;
    margin-top: 2px;
    width: 30em;

}

#form-body>.input-container:nth-child(2)>.divider {
    display: none;
}

.input-container>p {
    color: rgba(0, 0, 0, .44);
    /* width: 100%; */
}

#title-p {
    font-size: 26px;
}

#pseudonym-p {
    font-size: 16px;

}

.divider {}

.dividerOnfocus {
    border-left: 1px solid #333;
    height: 80%;
}

#message-input-container{
    
}
